* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width:auto;
	height:auto;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body
{
  
  /* make it look decent enough */
  font-family: 'Inter', sans-serif;
  padding:0px;
  margin:0px;
}

#menuToggle
{
  display: block;
  position: fixed;
  background-color: black;
  padding:10px;
  border-radius: 5%;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu
{
  position: absolute;
  width: 500px;
  height:auto;
  margin: -100px 0 0 -60px;
  padding: 50px;
  padding-top: 125px;
  
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  color:white;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.portada {
	width: 100%;
	position: relative;
	height: 150vh;
	background-image: url("img/fondo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.portada h1 {
	padding: 30px;
	font-family: 'Inter', sans-serif;
	font-size: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	writing-mode: vertical-rl;
	color: black;
	background-color: transparent;
}

.rotate1 {
	padding-left:40px;
}

#UNCANNY-MIRROR{
	transform: rotate(-180deg);
	text-align: right;
	top: 10%;
	left: 50%;
}

.rotate2 {
	padding-right:100px;
	}

#MISGENDERING-MACHINES{
	top: 45%;
	left: 50%;
	display: flex;
	flex-direction: column;
	padding-left:0px;
	padding-right:5px;
}

.cuerpo1 {
	width:auto;
	height:115vh;
	background-color:black;
}

.contenedor-video {
  margin-top: 49.5%;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.contenedor-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.uncannyvalley {
  background-color: #04131B;
  position: relative;

  padding-left: 90px;
  padding-top: 90px;
  padding-right: 0px;
  color: #D8DEE1;
}
.imguv {
  position: absolute;
margin-left: 300px;
padding-bottom: 30px;
}

.blanco{
  padding-top: 30px;
  position: relative;

}
.Uncanny1{
  margin:30px;
  width: 750px;
  
}
.textos{
  display: inline-flex;
}
.titulo1{
  padding-left: 900px;
  color:#001F2F;
}
.imagen1{
  border-radius: 60%;
  border-color: #001F2F;
  width: 250px;
  position:absolute;
}
.texto1{
  padding-left:70px;
  width:350px;
  padding-top:10px;
}
.texto2{
  padding-left:70px;
  width:350px;
  padding-top:10px;

}

.Uncanny2{
  margin:30px;
  width: 750px;
  
}
.textos2{
  display: inline-flex;
}
.titulo2{
  padding-left: 100px;
  color:#001F2F;
}
.imagen2{
  border-radius: 60%;
  border-color: #001F2F;
  width: 250px;
  position:absolute;
}
.texto3{
  padding-left:70px;
  width:350px;
  padding-top:10px;
}
.texto4{
  padding-left:70px;
  width:350px;
  padding-top:10px;

}

.mario{
  margin:30px;
  width: 750px;
  
}

.titulo3{
  padding-left: 200px;
  color:#001F2F;
}
.imagen3{
  border-radius: 60%;
  border-color: #001F2F;
  width: 250px;
  position:absolute;
}
.texto5{
  padding-left:70px;
  width:350px;
  padding-top:10px;
}

.titulo4{
  padding-left: 200px;
  color:#001F2F;
}

.azul{
  background-color: #04131B;
  padding-top: 30px;
  padding-bottom: 30px;}

.textos3{
  display: inline-flex;
}
.titulo5{
  padding-left: 900px;
  color: white;
}
.imagen4{
  border-radius: 60%;
  border-color: #001F2F;
  width: 250px;
  position:absolute;
}
.texto6{
  padding-left:70px;
  width:350px;
  padding-top:10px;
  color: white;
}
.texto7{
  padding-left:70px;
  width:350px;
  padding-top:10px;
  color: white;

}

.themis2{
  margin:30px;
  width: 750px;
  
}
.textos4{
  display: inline-flex;
}

.imagen5{
  border-radius: 60%;
  border-color: #001F2F;
  width: 250px;
  position:absolute;
}
.texto8{
  padding-left:70px;
  width:350px;
  padding-top:10px;
  color: white;
}
.texto9{
  padding-left:70px;
  width:350px;
  padding-top:10px;
  color: white;
}

.oskeyes{
  margin:30px;
  width: 750px;
  
}

.titulo7{
  padding-left: 200px;
  color:white;
}
.imagen6{
  border-radius: 60%;
  border-color: #001F2F;
  width: 250px;
  position:absolute;
}
.texto10{
  padding-left:70px;
  width:350px;
  padding-top:10px;
  color:white;
}
.blanco2{
  margin:30px;

}
.titulovinculo{
  color:#001F2F ;
  padding-left: 300px;
}
.texto11{
  padding-left:100px;
  width:350px;
  padding-top:10px;
}

.tituloconclusion{
  color:#001F2F ;
  padding-left: 300px;
}

.texto12{
  padding-left:100px;
  width:350px;
  padding-top:10px;
}
.fotito1 {width: 150px}
.fotito2 {width: 100px}
.fotito3 {width: 100px}
.fotito4 {width: 200px}
.fotito5 {width: 100px}
.fotito6 {width: 100px}