* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.portada {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.portada h1 {
	font-family: 'Inter', sans-serif;
	font-size: 110px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	writing-mode: vertical-rl;
}

.rotate1 {
	padding-left:100px;}

.rotate2 {
	padding-right:100px;
	}
